.header{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.btn-group{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 69px;
}
#home{
width: 152px;
height: 32px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 32px;
color: #C267E5;
}
.centerBtn{
    display: grid;
    width: 100%;
    

}
.ksign-button,
.ksignout-button{
width: 93px;
height: 30px;
background: linear-gradient(85.76deg, rgba(191, 196, 238, 0.0945738) -105.02%, #C367E6 10.94%, rgba(190, 206, 239, 0) 121.57%);
border-radius: 5px;
text-align: center;
display: flex;
justify-content: centet;
align-items: center;

}
#sign-out-text{
    padding-top: 3.5px;
}
.ktext-sign{


/* Sign in */

width: 100%;
height: 13px;


font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #E5E5E5;
}
.kwelcome-text{
width: 350px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 20px;

color: #FFFFFF;
}
.okpen-text{

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 80px;

color: #C267E4;
}
.knft-text{


font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 30px;

color: #FFFFFF;


}
.content-header{
    width: 364px;
height: auto;
padding-left: 40px;
}
.col-md-6 {
    padding-top: 88px;
}
.text-information-k{
  


width: 300px;
height: auto;


font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
padding-top:50px;
color: #FFFFFF;

}

.text-left{
    height: auto;
}
.btn-primary-k{
box-sizing: border-box;
width: 199px;
height: 40px;
left: 60px;
top: 433px;
background: linear-gradient(85.76deg, rgba(191, 196, 238, 0.0945738) -105.02%, #C367E6 10.94%, rgba(190, 206, 239, 0) 121.57%);
border: 1px solid #000000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
}
.text-btn-primary-k{
width: 104px;
height: 20px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.kcss-right-main-pic{
    margin-top: 50px;
}

.kcss-right-main-pic{
    display: inline-flex;
    justify-content: center;
  
width: 404px;
height: 494px;
background: #30384D;
border-radius: 10px;
}
.card-img-top-k{
    /* image 1 */
    position: relative;
box-sizing: border-box;
width: 357.28px;
height: 370.24px;
margin-top:29px;

background: url(public-1/image-25@2x.png);
border: 1px solid #000000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 4.89425px;

}
.card-title{
/* Hue - Viet Nam */
width: 98px;
height: 18px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
color: #FFFFFF;


}

.card-image-k{

width: auto ;
height: 28px;
}
.image-k{

    width: 28px;
    height: 28x;
 margin-left: -18px;
    vertical-align: unset;
        
}
.card-body-title{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.card-body-k{
    margin-top: 10px;
}

.card-body-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}
.card-content-item{
    width: 80px;
    display: flex;
    flex-direction: column;
    
}
.text-detail-k{
    /* Current Bid */
width: 100%;
height: 10px;
font-family: 'DM Mono';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 10px;
color: #545C71;
text-align: center;
padding-top: 7px;
padding:4px
}

.text-detail-number-k{
width: 100%;
height: 13px;

text-align: center;
font-family: 'DM Mono';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;


color: #FFFFFF;


}
.ending-text{
    text-align: unset;
    text-align: end;
}
.statistic-number{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 81px;
}

.statistic-number-item{
    width: auto;
}
.contributor{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:110px
}
.contributor-item{
    max-width: 128px;
    padding-right: 5px;
    padding-left: 5px;
}

.card-k{
    

width: 290px;
height: auto;

display: inline-flex;
align-items: center;
background: #30384D;
border-radius: 5px;
flex-direction: column;
}
.card-header-k{
    height: auto;
    width: 100%;
}
.card-description-k{
text-align: center;
width: auto;
height: 20;
left: calc(50% - 82px/2 - 72.5px);
top: 246px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #FFFFFF;


}

.container-k{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    width: unset;
    width: 100vh;
}
.card-img-k{
padding-bottom: 10px;
width: 250px;
height: auto;
border-radius: 5.131px;

}
.token-id-k{
width: 100%;
text-align: left;
width: auto;
height: 20;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 13px;
/* identical to box height */
color: #FFFFFF;

}







