* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: #1c233d;
}

/*Start: Nav*/
.homeBtn {
    background-color: #1c233d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.centerBtn {
    background-color: #1c233d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.signBtn {
    background-color: #1c233d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

/*End: Nav*/


































.container {
    background-color: rgb(213, 255, 252);
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 800px
}

form {
    margin: 20px;
    width: 80%;
}

.card {
    margin: 10px;
    width: 320px;
    height: 650px;
    align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px !important;
    margin-bottom: 8px !important;
}

.card-header {
    width: 100%;
    height: 300px
}

img {
    border-radius: 5px;
    width: 100%;
}