* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: #1c233d;
}


/*Start: Common*/
.color-header {
    color: #C267E4;
}

.color-text {
    color: #fff;
}
/*End: Common*/








/*Start: Nav*/
.homeBtn {
    background-color: #1c233d;
    color: #fff;
    border: none;

    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-items:center;
    padding-top: 9px;

}

.centerBtn {
    background-color: #1c233d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    grid-template-columns: auto auto auto ;
}

.signBtn {
    background-color: #1c233d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    display: grid;
    grid-template-columns: auto auto;
}


/*End: Nav*/



/*Start: Header*/
.header {
    color: white;
}

.header-right {
    color: black;
}

/*End: Header*/



/*Start: Footer*/
.footer {
    margin-top: 48px;
    padding: 0 48px;
}

.footer-header {
    font-size: 40px;
}


.social-icon i {
    padding: 12px 14px;
    color: rgb(125, 122, 216);
    border-radius: 50%;
}

.social-icon i:hover {
    color: rgb(125, 122, 216);
    background-color: rgba(255, 255, 255, .5);
}

.footer-item {
    text-align: center;
}

.footer-item a{
    display: block;
    color: #fff;

}

.copyright {
    opacity: 0.5;
    padding: 48px 0;
}
/*End: Footer*/





.topCreator {
    color: black;
}

/* khang đã code o day */
.community {
    color: white;
}





.footer {
    color: white;
}



































form {
    margin: 20px;
    width: 80%;
}

.card {
    margin: 10px;
    width: 320px;
    height: 650px;
    align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px !important;
    margin-bottom: 8px !important;
}

.card-header {
    width: 100%;
    height: 300px
}

img {
    border-radius: 5px;
    width: 100%;
}
.header-button-k{
    width: auto

}

.header-button-k{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}





#home{
    align-items: center;
}



























